* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    margin: 30px 5%;
    float: right;
    color: black;
}

    a:hover {
        color: grey;
    }
/*---------------------*/
table {
    width: 100%;
}

table, td, tr {
    /*border: 1px solid grey;*/
}

.box {
    height: 300px;
}

body {
    color: black;
}
